.navbar {
    background: cyan;
    min-height: 80px;
    font-size: 20px;
    padding: 20px 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 20px black, 0 10px 10px black;
    box-shadow: 0 10px 20px black, 0 10px 10px black;
    color: silver;
    z-index: 99;
    white-space: nowrap;
}

.navbar div {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.navbar div:first-child {
    letter-spacing: 1px;
    font-weight: 900;
}

.pipe {
    margin: 0 10px;
}

.correct {
    animation: correctGuess 0.5s;
}

.incorrect {
    animation: incorrectGuess 0.5s;
}

.navbar div {
        margin-bottom: 0;
        text-align: center;
        width: 33.333%;
    }