.footer {
    background-color: cyan;
    -webkit-box-shadow: 0 -10px 20px black, 0 10px 10px black;
    box-shadow: 0 -10px 20px black, 0 10px 10px black;
    color: silver;
    font-size: 20px;
    height: 50px;
    padding: 10px 0;
}